In [1]:
import pandas as pd
import numpy as np

# 数据连接

In [3]:
df_obj1 = pd.DataFrame({
    'key':['b','b','a','c','a','a','b'],
    'data1':np.random.randint(0,10,7)
})

print(df_obj1)

  key  data1
0   b      5
1   b      0
2   a      1
3   c      6
4   a      6
5   a      8
6   b      3

In [9]:
df_obj2 = pd.DataFrame({
    'key':['a','b','d'],
    'data2':np.random.randint(0,10,3)
})
print(df_obj2)

  key  data2
0   a      4
1   b      6
2   d      0

In [10]:
# 连接
print(pd.merge(df_obj1,df_obj2))

  key  data1  data2
0   b      5      6
1   b      0      6
2   b      3      6
3   a      1      4
4   a      6      4
5   a      8      4

In [15]:
print(pd.merge(df_obj1,df_obj2,on='key'))

  key  data1  data2
0   b      5      6
1   b      0      6
2   b      3      6
3   a      1      4
4   a      6      4
5   a      8      4

In [17]:
a = {3,4,5,6} 
b = {4,5,6,7}
print(a & b ) #{4,5,6} #交集
print(a | b ) #{3,4,5,6,7} #并集

{4, 5, 6}
{3, 4, 5, 6, 7}

## 指定连接方式

In [21]:
#外连接
print(df_obj1,'\n',df_obj2)
print(pd.merge(df_obj1,df_obj2,how="outer"))

  key  data1
0   b      5
1   b      0
2   a      1
3   c      6
4   a      6
5   a      8
6   b      3
   key  data2
0   a      4
1   b      6
2   d      0
  key  data1  data2
0   b    5.0    6.0
1   b    0.0    6.0
2   b    3.0    6.0
3   a    1.0    4.0
4   a    6.0    4.0
5   a    8.0    4.0
6   c    6.0    NaN
7   d    NaN    0.0

In [22]:
# 左连接left
# left 无论右边数据是否得到匹配，都会把左边数据全部显示范例
print(df_obj1,'\n',df_obj2)
pd.merge(df_obj1,df_obj2,how="left")

  key  data1
0   b      5
1   b      0
2   a      1
3   c      6
4   a      6
5   a      8
6   b      3
   key  data2
0   a      4
1   b      6
2   d      0

  key  data1  data2
0   b      5    6.0
1   b      0    6.0
2   a      1    4.0
3   c      6    NaN
4   a      6    4.0
5   a      8    4.0
6   b      3    6.0

In [23]:
# 右连接right
# right 无论左边数据是否得到匹配，都会把右边数据全部显示
# 范例
print(df_obj1,'\n',df_obj2)
pd.merge(df_obj1,df_obj2,how="right")

  key  data1
0   b      5
1   b      0
2   a      1
3   c      6
4   a      6
5   a      8
6   b      3
   key  data2
0   a      4
1   b      6
2   d      0

  key  data1  data2
0   b    5.0      6
1   b    0.0      6
2   b    3.0      6
3   a    1.0      4
4   a    6.0      4
5   a    8.0      4
6   d    NaN      0

## suffixes处理重复列名

In [26]:
## suffixes处理重复列名
# 如果两个数据的列名是相同的，那么指定一个外键，再将其它列名添加一个后缀，默认“_x””_y”
# 范例
df_obj1 = pd.DataFrame({
    'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
    'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({
    'key': ['a', 'b', 'd'],
    'data' : np.random.randint(0,10,3)})
print(df_obj1,'\n',df_obj2)
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data
0   b     1
1   b     3
2   a     0
3   c     8
4   a     3
5   a     8
6   b     7
   key  data
0   a     9
1   b     2
2   d     6
  key  data_left  data_right
0   b          1           2
1   b          3           2
2   b          7           2
3   a          0           9
4   a          3           9
5   a          8           9

## 按索引连接

In [27]:
# left_index:使用左边DataFrame对象的行索引作为连接键
# right_index:使用右边DataFrame对象的行索引作为连接键
df_obj1 = pd.DataFrame({
    'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 
    'data1' : np.random.randint(0,10,7)}) 
df_obj2 = pd.DataFrame({
    'data2' : np.random.randint(0,10,3)},
    index=['a', 'b', 'd']) 
print(df_obj1,'\n',df_obj2)
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1
0   b      3
1   b      3
2   a      9
3   c      1
4   a      5
5   a      2
6   b      9
    data2
a      0
b      5
d      9
  key  data1  data2
0   b      3      5
1   b      3      5
6   b      9      5
2   a      9      0
4   a      5      0
5   a      2      0

## 键名不同的连接

In [29]:

# 如果两个对象的列名不同，可以分别指定
# 可以使用lft_on 和right_on 来指定数据集的外键
# left_on ：指定左侧数据的外键
# right_on：指定右边数据的外键

df3=pd.DataFrame({'key1':['foo','foo','bar'],  
      'key2':['one','two','one'],  
    'lval':[1,2,3]})  
df4=pd.DataFrame({'key3':['foo','foo','bar','bar'], 
  'key4':['one','one','one','two'],  
 'lval':[4,5,6,7]}) 
print(df3,'\n',df4)
pd.merge(df3,df4,left_on='key1',right_on='key3')

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3
   key3 key4  lval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

  key1 key2  lval_x key3 key4  lval_y
0  foo  one       1  foo  one       4
1  foo  one       1  foo  one       5
2  foo  two       2  foo  one       4
3  foo  two       2  foo  one       5
4  bar  one       3  bar  one       6
5  bar  one       3  bar  two       7

# 数据合并

## numpy里面concatenate

In [31]:

# axis参数 1轴方向是行，两个数据的行部分首尾连接 
# 范例
arr1 = np.random.randint(0, 10, (3, 4))
arr2 = np.random.randint(0, 10, (3, 4))
print(arr1)
print(arr2)
print(np.concatenate([arr1, arr2])) #首尾连接 
print(np.concatenate([arr1, arr2], axis=1)) #行首尾连接 （3*6）

[[7 5 2 3]
 [8 1 6 8]
 [8 7 8 4]]
[[6 3 2 1]
 [3 5 2 9]
 [3 3 5 4]]
[[7 5 2 3]
 [8 1 6 8]
 [8 7 8 4]
 [6 3 2 1]
 [3 5 2 9]
 [3 3 5 4]]
[[7 5 2 3 6 3 2 1]
 [8 1 6 8 3 5 2 9]
 [8 7 8 4 3 3 5 4]]

## pd.concat

In [32]:
# axis参数：指定轴方向，默认值0，两个数据的行部分首尾连接 
# join参数：指定合并方式，默认为outer
# series行索引无重复
# 范例
ser_obj1 = pd.Series(np.random.randint(0, 10, 5), index=range(0,5))
ser_obj2 = pd.Series(np.random.randint(0, 10, 4), index=range(5,9))
ser_obj3 = pd.Series(np.random.randint(0, 10, 3), index=range(9,12))
print(ser_obj1)
print(ser_obj2)
print(ser_obj3)
#默认按列进行连接，同时是外连接
print(pd.concat([ser_obj1, ser_obj2, ser_obj3]))

0    6
1    4
2    8
3    7
4    8
dtype: int32
5    5
6    7
7    2
8    9
dtype: int32
9     7
10    1
11    6
dtype: int32
0     6
1     4
2     8
3     7
4     8
5     5
6     7
7     2
8     9
9     7
10    1
11    6
dtype: int32

In [35]:
ser_obj1 = pd.Series(np.random.randint(0, 10, 5), index=range(0,5))
ser_obj2 = pd.Series(np.random.randint(0, 10, 4), index=range(0,4))
ser_obj3 = pd.Series(np.random.randint(0, 10, 3), index=range(0,3))
print(ser_obj1)
print(ser_obj2)
print(ser_obj3)
print(pd.concat([ser_obj1, ser_obj2, ser_obj3], axis=1))

0    8
1    9
2    2
3    2
4    5
dtype: int32
0    1
1    3
2    4
3    5
dtype: int32
0    5
1    7
2    4
dtype: int32
   0    1    2
0  8  1.0  5.0
1  9  3.0  7.0
2  2  4.0  4.0
3  2  5.0  NaN
4  5  NaN  NaN

In [37]:
print(ser_obj1)
print(ser_obj2)
print(ser_obj3)
print(pd.concat([ser_obj1, ser_obj2, ser_obj3], axis=1, join="inner"))

0    8
1    9
2    2
3    2
4    5
dtype: int32
0    1
1    3
2    4
3    5
dtype: int32
0    5
1    7
2    4
dtype: int32
   0  1  2
0  8  1  5
1  9  3  7
2  2  4  4

In [38]:
print(ser_obj1)
print(ser_obj2)
print(ser_obj3)
print(pd.concat([ser_obj1, ser_obj2, ser_obj3], join="inner"))

0    8
1    9
2    2
3    2
4    5
dtype: int32
0    1
1    3
2    4
3    5
dtype: int32
0    5
1    7
2    4
dtype: int32
0    8
1    9
2    2
3    2
4    5
0    1
1    3
2    4
3    5
0    5
1    7
2    4
dtype: int32

In [39]:
ser_obj1 = pd.Series(np.random.randint(0, 10, 5), index=range(5))
ser_obj2 = pd.Series(np.random.randint(0, 10, 4), index=range(4))
ser_obj3 = pd.Series(np.random.randint(0, 10, 3), index=range(3))
#默认按列进行连接，同时是外连接
print(pd.concat([ser_obj1, ser_obj2, ser_obj3]))

0    8
1    2
2    8
3    9
4    9
0    3
1    1
2    7
3    7
0    6
1    9
2    1
dtype: int32

In [40]:
df_obj1 = pd.DataFrame(np.random.randint(0, 10, (3, 2)), index=['a', 'b', 'c'], columns=['A', 'B'])
df_obj2 = pd.DataFrame(np.random.randint(0, 10, (2, 2)), index=['a', 'b'], columns=['C', 'D'])
print(df_obj1)
print(df_obj2)

   A  B
a  5  4
b  4  5
c  0  6
   C  D
a  6  5
b  4  9

In [41]:
#默认是按行连接
print(pd.concat([df_obj1, df_obj2]))
#指定轴方向，
print(pd.concat([df_obj1, df_obj2], axis=1))
#指定轴方向，按内连接（NaN所在的行/列将被去除）
print(pd.concat([df_obj1, df_obj2], axis=1, join='inner'))

     A    B    C    D
a  5.0  4.0  NaN  NaN
b  4.0  5.0  NaN  NaN
c  0.0  6.0  NaN  NaN
a  NaN  NaN  6.0  5.0
b  NaN  NaN  4.0  9.0
   A  B    C    D
a  5  4  6.0  5.0
b  4  5  4.0  9.0
c  0  6  NaN  NaN
   A  B  C  D
a  5  4  6  5
b  4  5  4  9