In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('money.csv')
print(df)

    code                     name  tradePrice
0    AXP         American Express      134.46
1   AAPL                    Apple      326.12
2     BA                   Boeing      345.02
3    CAT              Caterpillar      140.47
4    CVX                  Chevron      111.91
5   CSCO                    Cisco       47.59
6     KO                Coca-Cola       59.80
7    DIS                   Disney      141.75
8    DOW             Dow Chemical       48.30
9    XOM              Exxon Mobil       60.79
10    GS            Goldman Sachs      238.62
11    HD               Home Depot      242.91
12   IBM                      IBM      154.76
13  INTC                    Intel       67.59
14   JNJ        Johnson & Johnson      150.46
15   JPM           JPMorgan Chase      138.08
16   MCD               McDonald's      218.11
17   MRK                    Merck       82.35
18  MSFT                Microsoft      184.40
19   NKE                     Nike      103.60
20   PFE                   Pfizer       37.15
21    PG         Procter & Gamble      125.19
22   TRV  Travelers Companies Inc      136.95
23   UTX      United Technologies      153.80
24   UNH             UnitedHealth      303.98
25    VZ                  Verizon       58.60
26     V                     Visa      208.11
27   WMT                 Wal-Mart      117.44
28   WBA                 Walgreen       53.58

# 1、获取股票代码

In [5]:
print(df.iloc[:,0])

0      AXP
1     AAPL
2       BA
3      CAT
4      CVX
5     CSCO
6       KO
7      DIS
8      DOW
9      XOM
10      GS
11      HD
12     IBM
13    INTC
14     JNJ
15     JPM
16     MCD
17     MRK
18    MSFT
19     NKE
20     PFE
21      PG
22     TRV
23     UTX
24     UNH
25      VZ
26       V
27     WMT
28     WBA
Name: code, dtype: object

In [4]:
print(df.loc[:,'code'])

0      AXP
1     AAPL
2       BA
3      CAT
4      CVX
5     CSCO
6       KO
7      DIS
8      DOW
9      XOM
10      GS
11      HD
12     IBM
13    INTC
14     JNJ
15     JPM
16     MCD
17     MRK
18    MSFT
19     NKE
20     PFE
21      PG
22     TRV
23     UTX
24     UNH
25      VZ
26       V
27     WMT
28     WBA
Name: code, dtype: object


# 2、获取前五行的股票数据

In [8]:
print(df.loc[:4,:])

   code              name  tradePrice
0   AXP  American Express      134.46
1  AAPL             Apple      326.12
2    BA            Boeing      345.02
3   CAT       Caterpillar      140.47
4   CVX           Chevron      111.91

In [7]:
print(df.iloc[:5,:])

   code              name  tradePrice
0   AXP  American Express      134.46
1  AAPL             Apple      326.12
2    BA            Boeing      345.02
3   CAT       Caterpillar      140.47
4   CVX           Chevron      111.91

# 3、返回第一只股票的股价

In [10]:
print(df['tradePrice'][0])
print(df.loc[0]['tradePrice'])
print(df.iloc[0,2])

134.46
134.46
134.46

# 4、计算平均的股价（选）

In [11]:
print(df['tradePrice'].mean())

144.54793103448276

# 5、计算股价大于180的公司的名称（选）

In [16]:

print(df[df['tradePrice'] > 180]['name'])

1             Apple
2            Boeing
10    Goldman Sachs
11       Home Depot
16       McDonald's
18        Microsoft
24     UnitedHealth
26             Visa
Name: name, dtype: object

In [ ]:
# 6、找出股价前三名的公司，降序排序（选）

In [22]:
df_sort = df.sort_values(by='tradePrice',ascending = False)
print(df_sort[:3])
print(df_sort.iloc[:3,1])

    code          name  tradePrice
2     BA        Boeing      345.02
1   AAPL         Apple      326.12
24   UNH  UnitedHealth      303.98
2           Boeing
1            Apple
24    UnitedHealth
Name: name, dtype: object